{% extends 'layout.njk' %}

{% from "date-input/macro.njk" import govukDateInput %}

{% block content %}
  <div class="govuk-body">
    {% include "partials/user.njk" %}
    <h1>Azure AD POC (for fwis rebuild)</h1>
    {% if credentials %}
      <p><a href="/secure">View secure area</a></p>
      {% else %}
      <p>Please <a href="/login">login</a> to view your options</p>
    {% endif %}
  </div>  
{% endblock %}